<div class="container-fluid">
	<div class="row">
		<div class="start">
			<div id="logo" class="center">Insert logo here</div>
		</div>
		<span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
	</div>
	<div class="row">
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="/">
					</a>
				</div>
			</div>
		</nav>
	</div>
	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-2 col-xs-4">
			<div onclick="window.location = '/about_us';" class="selector">
				Projects
			</div>
		</div>
		<div class="col-md-2 col-xs-4">
			<div onclick="window.location = '/about_us';" class="selector">
				About us
			</div>
		</div>
		<div class="col-md-2 col-xs-4">
			<div onclick="window.location = '/about_us';" class="selector">
				Contribute
			</div>
		</div>
		<div class="col-md-3"></div>
	</div>
</div>
	<span class="glyphicon glyphicon-console" aria-hidden="true"></span>
