/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "rails_bootstrap_forms";
@import "bootstrap-markdown";
@import url(https://fonts.googleapis.com/css?family=Cabin);


.navbar-brand
{
  width: 10%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.navbar-default {
  border: none;
}
a#center {
  text-align: center;
  width: 100%;
}
body {
	font-family: 'Cabin', sans-serif;
  background-image: image-url('background.png');
  background-repeat: no-repeat;
	background-attachment: fixed;
	color: #00000C;
}
div {
	background-color: transparent;
}
.bar {
  margin-bottom: 10%;
}
.background {
  padding: 3%;
  background-color: #FAFAFA;
}
img.bar {
  height: 300%;
  width: auto;

}
