// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.selector {
	border: 2px solid;
	background: white;
	height: 300px;
}
.center {
	margin-left:auto;
	margin-right:auto;
}
#logo {
	text-align: center;
	width: 20%;
	height: 45vh;
	margin-top:27vh;
	margin-bottom:auto;
	border: 3px solid;
	border-color: #001531;
	padding-top: 300px;
	padding-top: 10%;
}
.start {
	width:100%;
	height: 100vh;
	padding: 0;
	margin-right:auto;
	margin-right:auto;
	overflow:auto;
}
@media screen and (min-width: 1024px) {
	  $base_width: 1160px;
	div.selector {
		padding: 0 5px 0 5px;
	}
}
