// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.project_selector {
	border-style: 2px solid;
  border-color: black;
	background: white;
	height: 33vh;
}
div[class|='col'] {
  @media screen and (min-width: 1024px) {
    padding: 15px 15px 15px 15px;
  }
  @media screen and (max-width: 1024px) {
    padding: 0 0 0 0;
  }

}
a {
  border: 0px;
  color: red;
  position: relative;
}

a:hover, a:visited, a:link, a:active {
  text-decoration:none;
  border: none;
}

.center_text {
  text-align: center;
}
#background {
  width: 70%;
  height: 100vh;
  margin-right: auto;
  margin-left: auto;
}
