// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.selector {
	border: 2px solid;
	height: 300px;
}

a {
  border: 0px;
  color: red;
  position: relative;
}

a:hover, a:visited, a:link, a:active {
  text-decoration:none;
  border: none;
}

.center_text {
  text-align: center;
}

@media screen and (min-width: 1024px) {
	  $base_width: 1160px;
	div.selector {
		padding: 5px 5px 5px 5px;
	}
}
