<div class="row">
<div class="col-md-3"></div>
  <% @users.each_index do |index| %>
    <div class="col-md-2 col-xs-4">
        <h1>
          <%= @users[index].firstname %> <%= @users[index].lastname %>
          <br>
          <%= @users[index].firstname%>.<%= @users[index].lastname%>@incutopia.com
        </h1>
    </div>
    <% dividend = (index+1) % 3 %>
    <% if dividend == 0 %>
      <div class="col-md-3"></div>
</div>
<div class="row">
  <div class="col-md-3"></div>
    <% end %>
<% end %>
  <div class="col-md-3"></div>
</div>
