<hr />
<% @projects.each do |project| %>
  <h1><%= link_to project.name, project %></h1>

  <p>
    <%= markdown(project.body) %>
  </p>

  <% if project != @projects.last %>
  <hr />
  <% end %>
<% end %>
