<hr />

<div class="row">
<div class="col-md-3"></div>
  <% @projects.each_index do |index| %>
    <div class="col-md-2 col-xs-4">
        <h1>
          <%= content_tag :div, class: "selector", onclick: "window.location.href = '"+ url_for(@projects[index])+"';" do -%>
            <%= @projects[index].name %> <br>
              <p>Made by <%= @projects[index].creator %><p/>
          <% end -%>
        </h1>
    </div>
    <% dividend = (index+1) % 3 %>
    <% if dividend == 0 %>
      <div class="col-md-3"></div>
</div>
<div class="row">
  <div class="col-md-3"></div>
    <% end %>
<% end %>
  <div class="col-md-3"></div>
</div>
